/* font-family: 'Open Sans', sans-serif; */

body{
    font-family: 'Open Sans', sans-serif; 
    font-size: 16px;
     line-height: 20px; /*separacion entre linea y linea */
}
header{
    background-color: #2e64a1;
    padding: 15px 0px;
}
header h1{
    color: white;
    font-size: 40px;
    font-style: italic;
    font-weight: 100;
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 10px;
}

nav{
    background-color: #6da9ed;
    margin-bottom: 30px;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    flex-grow: 1;
}
nav ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 0 ;
    display: flex;
    justify-content: center;
}
nav ul li a:hover{
    background-color: rgba(0,0,0,0.3);
}

nav ul li a.activo{
    background-color: #4c76a5;
}

footer{
    background-color: #ccc;
    padding: 48px;
    text-align: center;
    clear: both;
    margin-top: 30px;
    margin-bottom: 10px;
}

.holder{
    max-width: 960px;
    margin: auto;
    padding: 20px;
}
h2{
    color: #2e64a1;
    font-weight: 400;
}

.homeimg img{
    max-width: 100%;
}
.columnas{
    display: flex;
}
.bienvenidos{
    width: 75%;
    padding-right: 30px;
}
.testimonios{
    width: 25%;
}
.bienvenidos p{
    font-size: 24px;
}

.testimonio{
    background-color: #ddd;
    padding: 16px;
}

.testimonio .cita{
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    display: block;
    margin: 16px 0;
}

.testimonio .autor{
    font-size: 14px;
}

/* Estilos para la seccion nosotros */

.historia{
    font-size: 12px;
}

.personas{
    display: flex;
    justify-content: space-between;
}
.persona{
    width: 18%;
    border: 1px solid  #ddd;
    border-radius: 5px;
    text-align: center;
    padding: 10px 5px;
    box-sizing: border-box;
}
.persona img{
    border-radius: 50%;
    width: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin-bottom: 15px;
}

.persona h5, 
.persona h6{
    margin: 0;
    color: #2e64a1;
    font-weight: normal;
}
.persona h5{
    font-style: italic;
    font-size: 13px;
}
.persona p{
    font-size: 12px;
    color: #565656;
    text-align: center;
}

/* fin de nosotros */

/* Inicio de contacto */

.contacto{
    display: flex;
    gap: 0px;
}
.contacto div{
    width: 100%;
}

.contacto .datos{
    font-size: 14px ;
}
.datos p{
    font-size: 13px ;
    list-style: none;
}

.datos ul li{
    font: size 13px;
}

.formulario p{
    display: flex;
}

.formulario p label{
    min-width: 80px;
}

.formulario p input,
.formulario p textarea{
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    border: 1px solid #999;
    padding: 6px;
    font-size: 14px;
}

.formulario p textarea{
    resize: none;
    height: 120px;
}

.formulario p label{
    display: flex;
    align-items: center;
}

.arriba{
    align-items: start;
}

.formulario input[type="submit"]{
    background-color: #6da9ed ;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    color: white;
    width: auto;
    padding: 6px 20px;
    margin-left: 80px;
    /* position: relative;
    left: 80px; */
    cursor: pointer;
    transition: all 0.3s ease;
}
.formulario input[type="submit"]:hover{
    background-color: #2e64a1;
}

@media screen  and (max-width:550px) {

    .columnas{
        flex-direction: column;
        padding: 0 16px;
    }
    .bienvenidos,
    .testimonios{
        width: 100%;
    }

    .testimonio{
        max-width: 50%;
        margin: auto;
    }

    .bienvenidos p{
        font-size: 16px;
        line-height: 26px;
    }

    .personas{
        flex-wrap: wrap;
    }

    .persona{
        width: 30%;
        width: 47%;
        margin-bottom: 10px;
    }

    .persona p{
        text-align: center;
    }

    .contacto{
        flex-direction: column-reverse;
        /* flex-direction: column; */
    }

    .formulario p{
        display: block;
    }
    .formulario p input,
    .formulario p textarea{
        width: 95%;
    }

    .formulario input[type="submit"]{
        margin-left: 420px;
    }
    
    header .holder{
        display: flex;
        justify-content: center;
    }
    header .logo img{
        max-width: 80px;
    }

    header h1{
        bottom: 20px;
    }
    nav ul.holder{
       flex-direction: column;
       padding: 0;
    }
}